/* Inicio das variaveis */
:root {
  --bg-color:  #EFF1FF;
  --h2-color: #4A4E69;
  --btn-color: #FEEAFA;
  --header-color: #8E9AAF;
  --h1-bg-color: #CBC0D3;
  --ff-heading: 'Staatliches';
  --ff-text: 'Palanquin', sans-serif;
  --fc-white: #fff;
  --fc-text: #23053A;
  font-size: 62.5%;
}
/* Fim das variaveis */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-text);
  background-color: var(--bg-color);
}

.page {
  width: 38.5rem;
  margin: 0 auto;
  background-color: var(--bg-color);
}

header {
  text-align: center;
  background-color: var(--header-color);
  min-height: 27.9rem;
  width: 100%;
}

header img {
  width: 13.7rem;
  height: 13.7rem;
  margin: 3.2rem auto 0;
}

header h1 {
  font-family: var(--ff-heading);
  font-size: 4rem;
  font-weight: 400;
  line-height: 3.4rem;
  padding: .8rem 0;
  background-color: var(--h1-bg-color);
  color: var(--fc-white);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.05em;
  margin: 3.2rem 0 2.9rem ;
}

main {
  display: grid;
  gap: 3.6rem;
  padding: 0 3.2rem 6rem;
}

main p {
  max-width: 30.5rem;
  margin: 1.4rem 0 2.7rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--fc-text);
}

.card {
  position: relative;
  max-width: 32rem;
}

.card h2 {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  width: 11.2rem;
  height: 3.5rem;
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--h2-color);
  background-color: var(--btn-color);
  border-radius: 2rem;
  text-align: center;
  padding: .1rem 2.5rem;
  animation: topdown 200ms ease-in;
}

.card img {
  animation: downtop 800ms;
}

/* Inicio do CSS Responsivo */

/* Fim do CSS Responsivo */

/* Inicio dos Keyframes */
 @keyframes topdown {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }

  100% {
    opacity: 1;
  }
 }

 @keyframes downtop {
  0% {
    opacity: 0;
    margin-left: -5rem;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
 }